<div class="navbar">
    <div class="logo">✦ ORNELLA DINA DELIA</div>
    <div class="nav-links">
        <div class="nav-item">Projects
            <div class="dropdown">
                <a href="project-haven.html">Haven Campaign</a>
                <a href="project-aethel.html">Aethel Shopping App</a>
                <a href="project-illumix.html">Illumix</a>
                <a href="project-moonhive.html">MoonHive</a>
            </div>
        </div>
        <a class="nav-item" href="#">Gallery</a>
        <a class="nav-item" href="#">About</a>
    </div>
</div>
